doctype html
html
  //-(ng-app='Asantewaa')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap2.min.css')
    //-link(rel='stylesheet', href='/stylesheets/style.css')
    //-link(rel='stylesheet', href='/stylesheets/style.css')
    //-link(rel='stylesheet', href='https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css')
    //-link(rel='stylesheet', href='https://cdn.anychart.com/releases/v8/fonts/css/anychart.min.css')
   
  body
    .nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand BreathGhana
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='true', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarColor02.navbar-collapse.collapse.show(style='')
          ul.navbar-nav.mr-auto
            li.nav-item.active
              //- if user
              //-     li
              //-       a(href='/dashboard') Dashbaord
              //-     li
              //-       a(href='/logout') Logout
              //-else
              a.nav-link(href='/logout')
                | logout 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/user') user account         
    .container
        //-div(ng-view)
        block content

      footer
          .row
            .col-xs-12
              small &copy; Simon Holmes 2014 
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
     script(src='https://cdn.anychart.com/releases/v8/js/anychart-base.min.js')
     script(src='https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js')
     script(src='https://cdn.anychart.com/releases/v8/js/anychart-vml.min.js')
    //-script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
  //-   link(rel='stylesheet', href='/stylesheets/style.css')
  //-   link(rel='stylesheet', href='https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css')
  //-   link(rel='stylesheet', href='https://cdn.anychart.com/releases/v8/fonts/css/anychart.min.css')
  //-   script(src='https://cdn.anychart.com/releases/v8/js/anychart-base.min.js')
  //-   script(src='https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js')
  //-   script(src='https://cdn.anychart.com/releases/v8/js/anychart-vml.min.js')
  //- body