extends layout

block content
    #banner.page-header
    .row.page-header
      .col-lg-12
        h1= title
    .row
      form.form-horizontal(action="", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="email") Email
          .col-xs-12.col-sm-10
            input#name.form-control(name="email", type="email")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="password") Password
          .col-xs-12.col-sm-10.col-md-20
            input#name.form-control(name="password",type="password")
        
        button.btn.btn-outline-primary.pull-right login
